<h2>Groups Page</h2>

<ul>
  <% @groups.each do |group| %>
    <li>
  <%= render group %>
  <% if ! current_user.member?(group)  %>
    <%= form_for [group, @group_membership] do |form| %>
    <%= form.submit "Join this group" %>
<% end %>
<% end %>
  </li>
<% end %>
</ul>

<h3> My groups </h3>
<% @my_groups.each do |group| %>
  <%= render group %>
<% end %>

