/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
body {
  font-size: 20px;
  font-family: Helvetica;
  background: #FCFCFC;
}

h1 {
  color: #3D2966;
}

p {
  color: purple;
}

#galleries p {
  color: orange;
}

#introduction {
  color: gray;
  font-style: italic;
}

#container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;

}

a {
  text-decoration: none;
  color: #336600;
}

a:hover {
  text-decoration: none;
  color: #FF6600;
}

a:active {
  color: purple;
}


.greeting {
  font-size: 2em;
}


img {
  border: 15px solid gray;
  margin: 10px;
  float: center;
  width: 200px;
  
  max-height: auto;
  max-width: 100%;
  height: auto; 
 
  
}